<div id="home">
    <h1>iClass Angular Test</h1>
    <p>
        1. Simple login page => Calling the signin function [Already provided in `AuthService`]<br/>
        2. Adding a route makes `/dashboard` path access to `AdminDashboardComponent` component<br/>
        3. Implement a middleware to make sure the `/dashboard` page not accessible when user not signed in.<br/>
        4. Implement a simple todo list on the `/dashboard` page that allows users to add / update / delete the todo item.
    </p>
</div>