<div id="home">
  <br />
  <h1>iClass Angular Test</h1>
  <br />
  <br />
  <div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">email</label>
          <input type="text" formControlName='email' class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">email is required</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
          </div>
        </div>
        <div>
          <div>
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf='loading' class="spinner-border spinner-border-sm me-1"></span>
              Login
            </button>
            <!-- <span style="margin: 5px"></span> -->
          </div>
          <br />
          <br />
          <div *ngIf="boolShowErrorMessage" class="alert alert-danger alert-dismissible fade show">
            <h4 class="alert-heading">
              <i class="bi-exclamation-octagon-fill">
              </i>
              Wrong Credentials
            </h4>
            <hr>
            Please enter correct credentials.
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="dimissErrorMessage()"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br />
</div>